/*aqui se le aplica el css a un boton un  parrafo etc es de tipo mas general y se aplica a todo
*/
p {
    color:blue
}
h3{
    color:blue
}

a{
    background-color: aquamarine;
}
/*el numeral es para tipo id
*/
#parrafo3{
    color: green;
}
/*asi son las clases en css pero solo quiere decir que tpo de funcion cumple no es clase objeto
las clases son la mejor manera de trabajar
*/
.textoGris{
    color: gray;
}

.textoRojo{
    color: red;
}

.fondoAzul{
    background-color: blue;
}

.fondoRosado{
    background-color:pink;
}
.textoGrandeNegrita{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
/*puedo cambiar las propiedades como tamaño de las imagen insertadas hecha conserva la relacion de aspecto 
pero se puede cambiar las dos propieddades altura y ancho
git commit -m '
*/
.imagenPequeña{
    height: 100px;
}
/*Con estos contenerdores realizo las margenes y distancias que requiero para mi html 
*/
.contenedorconMargen{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    /*este es como el print de python aqui sabemos como se estan viendo los bordes 
*/
    border: 1px solid red;
}
/*con los frid columns y rows puedo generarr desde css columnas y tablas
*/
.contenedorDivSGrid{
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 150px 150px 300px;
}
/*con estos contenedores podemos centrar y organizar todo nuestro contenido al principio es un poco mas complejo pero despues e mejor
*/
.contenedorDivFlex{
    border: 2px solid rgb(115, 0, 128);
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 150px 150px 300px;
}
.divTest{
    border: 1px solid blue;
    display:flex;
    height: 50px;
    justify-content: center;
    align-items: center;

}