/*quito los margenes del body que vienen por defecto del navegador para que quede mi estructura bien pegada superior*/
body{
    margin: 0px;
}
/*aqui quito los puntos laterales o bullets a mis ul ya que por defecto los ul los traen el paddin y margin es 
para poner mi logo bien en ele rrincon y nbo medio centrado*/
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*pongo todos los li uno al lado del otro con display flex y los separo con justify content*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/*redimensiono el logo con 70 pxgit add .
*/
.logo{
    height: 70px;
}
/*le estoy agregando todas las propiedades al boton nuevo post color forma borde radio etc .
*/
.mainButton{
    background-color: blue;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px;
}
/*agrego una clase modificadora se logra con dos puntos uno de los modificadores mas utilizados es hover .
en este caso modifico el cursor que se vuelva manito tambien el efecto transform ppara escalar el boton cuando se 
pase por el*/
.mainButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.secondaryButton{
    background-color: rgb(21, 140, 243);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px;
}
/*agrego una clase modificadora se logra con dos puntos uno de los modificadores mas utilizados es hover .
en este caso modifico el cursor que se vuelva manito tambien el efecto transform ppara escalar el boton cuando se 
pase por el*/
.secondaryButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}