/*quito los margenes del body que vienen por defecto del navegador para que quede mi estructura bien pegada superior*/
body{
    margin: 0px;
}
/*aqui quito los puntos laterales o bullets a mis ul ya que por defecto los ul los traen el paddin y margin es 
para poner mi logo bien en ele rrincon y nbo medio centrado*/
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*pongo todos los li uno al lado del otro con display flex y los separo con justify content*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
   
}
.buscar:focus-within{
    border: 5px solid blue;
}
.buscar > input{
    outline: none;
    border: 0px;
    border-radius: 8px;
}